node_modules/
dist/
.astro/
.DS_Store
*.log
.env
.env.*

# Build-time generated font subsets (created by subset-fonts.py on server)
public/fonts/*.woff2
!public/fonts/NushuSerif.woff2

# Uncomment the next line after setting up the private content repo,
# to prevent accidentally pushing content to the public framework repo:
# src/content/novel/
